<!DOCTYPE html>
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="myApp.js"></script>
    <script src="controller.js"></script>
    <style>
        input.ng-empty {
            background-color: lightblue;
        }
    </style>
</head>

<body ng-app="myApp" >

    <div ng-controller="myCtrl">

        <h1>Write your name</h1>

        <p>Name: <input type="text" ng-model="firstName"></p>
        <p>Surname: <input type="text" ng-model="surname"></p>

        <p>Your wrote {{ fullName() }}</p>

        <h1>Multiply a number</h1>
        Quantity: <input type="text" ng-model="quantity">
        Price: <input type="text" ng-model="price">
        <p><b>Total in dollar:</b> {{quantity * price | currency: '€' }}</p>
        <h1>Find a name</h1>
        <p><input type="text" ng-model="find_name"></p>
        <li ng-repeat="x in names | orderBy:'country' | filter: find_name ">
            <!-- This filter won't work inside this kind of expression -->
            {{ x.name + ", " + x.country }}
        </li>
        <br>

        <form ng-app="" name="myForm">
            Email:
            <input type="email" name="myAddress" ng-model="text">
            <span ng-show="myForm.myAddress.$error.email">Not a valid e-mail address</span>
        </form>
        <p>Edit the e-mail address, and try to change the status.</p>
        <h1>Status</h1>
        <p>Valid: {{myForm.myAddress.$valid}} (if true, the value meets all criteria).</p>
        <p>Dirty: {{myForm.myAddress.$dirty}} (if true, the value has been changed).</p>
        <p>Touched: {{myForm.myAddress.$touched}} (if true, the field has been in focus).</p>
        <p>Error: {{myForm.myAddress.$error}} (if true, will show when there is an error).</p>
        <br>
        <submit-directive></submit-directive>
        <h1>{{ test | lowercase }}</h1>
    </div>
<h1>{{ test | uppercase }}</h1>

</body>

</html>