<!DOCTYPE html>
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="myApp.js"></script>
    <script src="controller.js"></script>
    <script src="filters.js"></script>
    <style>
        input.ng-empty {
            background-color: lightblue;
        }
    </style>
</head>

<body ng-app="myApp">

    <h1>{{ myHeader }}</h1>
    <h1>You are in {{ myUrl }}</h1>
    <h1>{{ theTime }}</h1>



    

    <div ng-controller="myCtrl">
        
        <h2>{{ newsTitle }}</h2>
        <img src= "{{ news }}" width="400" height="400"/>

        <h1>Write your name</h1>

        <p>Name: <input type="text" ng-model="firstName"></p>
        <p>Surname: <input type="text" ng-model="surname"></p>

        <p>Your wrote {{ fullName() }}</p>

        <h1>Multiply a number</h1>
        Quantity: <input type="text" ng-model="quantity">
        Price: <input type="text" ng-model="price">
        <p><b>Total in dollar:</b> {{ quantity * price | currency: '€' }}</p>

        <p>
            <h1>Find a name in the table</h1>
            <input type="text" ng-model="find_name">
        </p>

        <table border="1" width="100%">
            <tr>
                <th ng-click="orderByMe('name')">Name</th>
                <th ng-click="orderByMe('country')">Country</th>
            </tr>
            <tr ng-repeat="x in names | orderBy:myOrderBy | filter: find_name  ">
                <td>{{ x.name | myFormat }}</td>
                <td>{{ x.country | myFormat }}</td>
            </tr>
        </table>
        <br>


        <h1>Status</h1>
        <p>Edit the e-mail address, and try to change the status.</p>
        <form ng-app="" name="myForm">
            Email:
            <input type="email" name="myAddress" ng-model="text">
            <span ng-show="myForm.myAddress.$error.email">Not a valid e-mail address</span>
        </form>
        <p>Valid: {{myForm.myAddress.$valid}} (if true, the value meets all criteria).</p>
        <p>Dirty: {{myForm.myAddress.$dirty}} (if true, the value has been changed).</p>
        <p>Touched: {{myForm.myAddress.$touched}} (if true, the field has been in focus).</p>
        <p>Error: {{myForm.myAddress.$error}} (if true, will show when there is an error).</p>
        <br>
        <submit-directive></submit-directive>
        <h1>{{ test | lowercase }}</h1>
    </div>
    <h1>{{ test | uppercase }}</h1>

</body>

</html>